.DS_STORE
*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
/yarn.lock
node_modules
.env
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.env
.idea
.project
.strong-pm
.vscode
dist
logs
npm-debug.log
reports
.cache/
lib-cov
/.pnp
.pnp.js
/coverage

npm-debug.log*